<?xml version="1.0" encoding="utf-8"?>
<!--   ~ Copyright (c) Huawei Technologies Co., Ltd. 2019-2019. All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.ads.banner"
    android:versionCode="130447302"
    android:versionName="13.4.47.302" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="29" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ads-banner"
            android:value="ads-banner:13.4.47.302" />
    </application>

</manifest>