<?xml version="1.0" encoding="utf-8"?>
<!--   ~ Copyright (c) Huawei Technologies Co., Ltd. 2015-2019. All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.ads.base"
    android:versionCode="130451300"
    android:versionName="13.4.51.300" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="com.hihonor.permission.MANAGE_FOLD_SCREEN" />
    <uses-permission android:name="com.hihonor.permission.MANAGE_FOLD_SCREEN_PRIVILEGED" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ads-base"
            android:value="ads-base:13.4.51.300" />

        <activity
            android:name="com.huawei.openalliance.ad.activity.PPSLauncherActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="hwpps" />
            </intent-filter>

            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
            <meta-data
                android:name="hnc-theme"
                android:value="androidhnext:style/Theme.magic.Translucent.NoTitleBar" />
        </activity>
        <activity
            android:name="com.huawei.openalliance.ad.activity.PPSBridgeActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
            <meta-data
                android:name="hnc-theme"
                android:value="androidhnext:style/Theme.magic.Translucent.NoTitleBar" />
        </activity>
        <activity
            android:name="com.huawei.openalliance.ad.activity.PPSNotificationActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
            <meta-data
                android:name="hnc-theme"
                android:value="androidhnext:style/Theme.magic.Translucent.NoTitleBar" />
        </activity>
        <activity
            android:name="com.huawei.openalliance.ad.activity.AgProtocolActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
            <meta-data
                android:name="hnc-theme"
                android:value="androidhnext:style/Theme.magic.Translucent.NoTitleBar" />
        </activity>

        <meta-data
            android:name="com.huawei.hms.min_api_level:pps-phone:adsbrainkit"
            android:value="1" />
    </application>

</manifest>