<?xml version="1.0" encoding="utf-8"?>
<!--   ~ Copyright (c) Huawei Technologies Co., Ltd. 2019-2019. All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.ads.consent"
    android:versionCode="30451300"
    android:versionName="3.4.51.300" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="31" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ads-consent"
            android:value="ads-consent:3.4.51.300" />
    </application>

</manifest>