<?xml version="1.0" encoding="utf-8"?>
<!--   ~ Copyright (c) Huawei Technologies Co., Ltd. 2015-2019. All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.ads.splash"
    android:versionCode="130440301"
    android:versionName="13.4.40.301" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ads-splash"
            android:value="ads-splash:13.4.40.301" />
    </application>

</manifest>