<?xml version="1.0" encoding="utf-8"?>
<!--   ~ Copyright (c) Huawei Technologies Co., Ltd. 2015-2019. All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.ads.placement"
    android:versionCode="130448301"
    android:versionName="13.4.48.301" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="30" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ads-instream"
            android:value="ads-instream:13.4.48.301" />
    </application>

</manifest>